/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require semantic_ui/semantic_ui
 */
.ui.grid[class*="middle aligned"] > .column:not(.row), .ui.grid[class*="middle aligned"] > .row > .column, .ui.grid > .row[class*="middle aligned"] > .column, .ui.grid > .column[class*="middle aligned"]:not(.row), .ui.grid > .row > .column[class*="middle aligned"] {
  max-width: 450px;
  margin-top: 150px;
}

.ui.header > .image, .ui.header > img {
  margin-top: -100px
}

.ui.grid[class*="center aligned"] {
  height: 100%;
}
