<% if user_signed_in? %>
  <div class="ui menu">
    <div class="header item">
      EVENTManager
    </div>
    <%= link_to 'EVENTS', events_path, class: 'item' %>
    <%= link_to 'LOCATIONS', locations_path, class: 'item' %>
    <%= link_to 'LOG OUT', destroy_user_session_path,
          :method => :delete, class: 'item' %>
    </div>
<% end %>
